h1{
    font-size: 224px;
}

body {
    background: crimson;
}

p {
    color: blue;
}

<<<<<<< HEAD
*{
    background: gold;
=======
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 72pt;
    color: lavender;
<<<<<<< HEAD
>>>>>>> a10d4c75b9a8d27fdceac112eaf3da4df6c5bd30
=======
>>>>>>> 871c4cf32746fa1b7a2e646b91b3027fb285f418
>>>>>>> 70ec8a1aae2bf990c9159034ae3248d3fb4eedad
}