h1{
    font-size: 224px;
}

body {
    background: crimson;
}

p {
    color: blue;
}

*{
    background: gold;

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 72pt;
    color: lavender;

}